body {
    padding-top: 55px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: #337AB7;
}

h3 {
    margin-top: 22px;
    margin-bottom: 11px;
    font-size: 24px;
    line-height: 1.1;
    font-weight: 500;
}
